/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #28282f;
}

@font-face {
  font-family: 'PermanentMarker';
  src: url('./fonts/PermanentMarker-Regular/PermanentMarker-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/PermanentMarker-Regular/PermanentMarker-Regular.woff') format('woff'), url('./fonts/PermanentMarker-Regular/PermanentMarker-Regular.ttf') format('truetype'), url('./fonts/PermanentMarker-Regular/PermanentMarker-Regular.svg#PermanentMarker-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.links {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.links a {
  display: inline-block;
  color: #FFFFFF;
  font-family: 'Arial', 'SansSerif';
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}