
@font-face {
  font-family: 'PermanentMarker-Regular';
  src: url('PermanentMarker-Regular.eot?#iefix') format('embedded-opentype'),  url('PermanentMarker-Regular.woff') format('woff'), url('PermanentMarker-Regular.ttf')  format('truetype'), url('PermanentMarker-Regular.svg#PermanentMarker-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
